.container-fluid {
    margin-top: 50px;
}

.container  .col-md-2{
    width: 200px;
    height: 200px;
    margin: 2px;
    background-color: gray;
}

.palette .btn {
    text-align: left;
}

.palette .btn .badge {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    padding-top: 10px;
    top: 5px;
    margin-right: 6px;
}

[type=radio]:checked, [type=radio]:not(:checked) {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

#canvas-container {
  z-index: 1;
}

#canvas {
    border: 1px solid black;
}

#frames {
    width: 100%;
    overflow: auto;
    list-style: none;
}

#frames li {
    margin-bottom: 10px;
    border: 1px solid black;
    width: 130px;
    height: 130px;
    position: relative;
}
#frames li span {
  position: absolute;
  left: -20px;
}

#frames li a {
  display: none;
}
#frames li:hover a {
  display: inline-block;
}


#frames li.active {
    border:1px solid red;
}

#frames li canvas {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#preview {
    border: 1px solid black;
    width:256px;
}

#add-frame {
    margin-left: 45px;
}

#mouse-coordinates {
  width: 110px;
  height: 45px;
  border: 1px solid black;
  display: inline-block;
  margin-left: 530px;
  margin-top: -30px;
}

